::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #6199fa, #2575fc);
  border-radius: 20px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #6199fa, #6a11cb);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #6199fa transparent;
}

*::-moz-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #2575fc, #6199fa);
}